#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
 
input
{
    background: grey
}
.travel_mainDiv {
border: 1 px;
    padding-left: 0 px;
    padding-right: 0 px;
    float:none;
}
.travel_mainDiv hr{
width: 230 px;
    
}
.travel_mainDiv h5 , .travel_mainDiv p {
margin-left: 20 px;
    
}
.movie_head{
    font-size: 20 px;
    padding: 6 px 22 px;
    border-radius: 10 px;
    margin-bottom: 15 px;
    width: 100%;
    display: inline-block;
    
}
.movie_head i {
float:right;
}
.movie_text span {
color: darkcyan;
}